.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.headerLeft {
    display: flex;
    gap: 1rem;
}
.headerLeft p {
    color: white;
    font-weight: 700;
}

.headerRight {
    display: flex;
    gap: 1rem
}
.headerRight p {
    border: solid 1px;
    padding: 1rem;
    border-radius: 10px;
    color: white;
}

.connectButton {
    border: none;
    padding: 0 1rem;
    border-radius: 10px;
    background-color: #263151;
    color: #6d81ca;
    margin-left: 1rem;
}
.connectButton:hover {
    background-color: #2b3250;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .headerLeft {
        display: none;
    }
}