.app {
  background-color: rgb(25, 33, 52) !important;
  background: rgb(25, 33, 52);
  background: linear-gradient(
    180deg,
    rgba(25, 33, 52, 1) 28%,
    rgba(7, 8, 21, 1) 75%
  );
  height: 100vh;

  display: flex;
  flex-direction: column;
}